<!-- public/index.html -->
<!DOCTYPE html>
<html lang="pt-br" ng-app="arsenalapp">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Alurapic</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/custom-css.css">
        <script src="js/lib/angular.min.js"></script>
        <script src="js/lib/angular-animate.min.js"></script>
        <script src="js/main.js"></script>
        <script src="js/controllers/champs-controller.js"></script>
        <script src="js/directives/directives.js"></script>

    </head>



    <!-- Navbar -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
      <div class="container">
        <ul class="nav navbar-nav">
          <li><a href="http://imgodoka.github.io/">Início</a></li>
          <li class="active"><a href="http://imgodoka.github.io/arsenal">LoL Arsenal</a></li>
        </ul>
      </div>
    </nav>



    <body ng-controller="ChampsController">

      <div class="jumbotron text-center">
        <h1 class="text-center">Lol Arsenal</h1>
        <p>Uma SPA que mostra os campeões de League of Legends usando a API da Riot Games</p>
      </div><!-- fim jumbo -->



      <div class="container">
        <div class="row">
            <div class="col-md-12">
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <img src="img/Assassin_Role.png" ng-click="filterMe('Assassin')">
                <img src="img/Fighter_Role.png" ng-click="filterMe('Fighter')">
                <img src="img/Mage_Role.png" ng-click="filterMe('Mage')">
                <img src="img/Marksman_Role.png" ng-click="filterMe('Marksman')">
                <img src="img/Support_Role.png" ng-click="filterMe('Support')">
                <img src="img/Tank_Role.png" ng-click="filterMe('Tank')">
                <span class="glyphicon glyphicon-refresh big" ng-click="filterMe(' ')"></span>
              </div>
            </form>
            </div> <!-- fim col-md-12 -->
        </div> <!-- fim row -->
        <div class="separator"></div>
            <panel-base class="col-md-6" titulo="{{champ.name}}" sub="{{champ.title}}" ng-repeat="champ in champs | orderBy: 'name' | filter: categoryFilter">
              <div class="media">
                <div class="media-left media-middle">
                  <a href="#">
                    <img class="media-object" ng-src="http://ddragon.leagueoflegends.com/cdn/6.21.1/img/champion/{{champ.image.full}}" alt="{{champ.name}}">
                  </a>
                </div>
                <div class="media-body">
                  <div class="col-md-6">
                    <p><b>Ataque:</b></p>
                    <div class="infobar base">
                      <div class="infobar red" style="width: calc(10px * {{champ.info.attack}});"></div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <p><b>Defesa:</b></p>
                    <div class="infobar base">
                      <div class="infobar green" style="width: calc(10px * {{champ.info.defense}});"></div>

                    </div>
                  </div>
                  <div class="col-md-6">
                    <p><b>Habilidade:</b></p>
                    <div class="infobar base">
                      <div class="infobar blue" style="width: calc(10px * {{champ.info.magic}});"></div>

                    </div>
                  </div>
                  <div class="col-md-6">
                    <p><b>Dificuldade:</b></p>
                    <div class="infobar base">
                      <div class="infobar purple" style="width: calc(10px * {{champ.info.difficulty}});"></div>

                    </div>
                  </div>
                </div>
              </div>
            </panel-base>
      </div>
    </body>


</html>
